{% include 'admin/admin_header.html' %}

<div id="k">
    
<form action="" method="post">
    <center>
        <h1>Send Reply</h1>
        <table class="table" style="width:500px; ">
            <tr>
                <th>Reply</th>
                <td><input type="text" name="reply" class="form-control"></td>
            </tr>
          
            <tr>
                <td align="center" colspan="2"><input type="submit"  name="sendreply" class="btn btn-success" ></td>
            </tr>
        </table>

    </center>
</form>
</div>


{% include 'public/footer.html' %}