{% include 'shop/shop_header.html' %}
<form action="" method="post">
<div id="k" style="height:300px ;"><h1 align="center">View Payment</h1></div>

<center>
    
    <table class="table" style="width: 900px;">
        <tr>
            <th>Si No</th>
            <th>User</th>
           
            <th>Shop</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        {% for row in data['pay'] %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{row['fname']}}</td>
            
            <td>{{row['shop_name']}}</td>
            <td>{{row['amount']}}</td>
            
            <td>{{row['date']}}</td>
           
            
        </tr>
        {% endfor %}
    </table>
</center>
</form>
{% include 'public/footer.html' %}